@import "tailwindcss";


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/*ESTILOS PARA CALENDARIO*/
.rbc-calendar {
  @apply rounded-2xl;
}

.rbc-header {
  @apply text-center text-sm font-semibold text-gray-600 uppercase;
}


.rbc-day-bg {
  @apply bg-[#0a0a0a81];
}

.rbc-calendar button {
  @apply rounded-2xl py-1 px-1 hover:bg-[#ffffff2e];
}

.rbc-month-view {
  @apply bg-[#0a0a0a81] rounded-2xl border-none;
}

.rbc-toolbar button {
  @apply border-1 text-white font-bold py-2 px-10 rounded hover:bg-[#ffffff2e];
}

/*Month Styles*/

.rbc-month-view .rbc-day-bg {
  @apply border-[#212121dd];
}

/* Quitar borde del header (Lun, Mar, etc.) */
.rbc-month-view .rbc-header {
  @apply border-[#646464dd];
}

.rbc-month-view .rbc-month-row {
 @apply border-[#212121dd];
}

/* También de las filas internas */
.rbc-month-view .rbc-row {
  @apply border-[#212121dd];
}

/* Day Styles */

/* Encabezado (nombres de días y columna de horas) */
  .rbc-time-header {
    @apply border-[#212121dd];
  }

  /* Cada celda de encabezado de día */
  .rbc-time-header-cell {
    @apply border-[#212121dd] bg-[#0a0a0a81];
  }

  /* Columnas de cada día */
  .rbc-time-column {
    @apply  bg-[#0a0a0a81] border-[#212121dd];
  }

  /* Grupos de slots de hora (líneas horizontales) */
  .rbc-timeslot-group {
    @apply border-[#212121dd];
  }

  /* Quitar/modificar borde del área de contenido */
  .rbc-time-content {
    @apply border-[#212121dd];
  }


/*dias fuera del mes actual*/

@layer utilities {
  .font-kanit {
    font-family: 'Kanit', sans-serif;
  }

  .font-kanit-medium {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
  }

  .font-kanit-bold {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}