@import "tailwindcss";


#root {
  max-width: 1280px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0000005b;
}

/*ESTILOS PARA CALENDARIO*/
.rbc-calendar {
  @apply rounded-2xl;
}

.rbc-header {
  @apply text-center text-sm font-semibold text-gray-600 uppercase;
}


.rbc-day-bg {
  @apply bg-[#0a0a0a81];
}

.rbc-calendar button {
  @apply rounded-2xl py-1 px-1 hover:bg-[#1d1d1d2e];
}

.rbc-month-view {
  @apply bg-[#0a0a0a81] rounded-2xl border-none;
}



/*Button Styles*/

.rbc-toolbar button {
  @apply border-1 text-white border-gray-900 font-bold py-2 px-10 rounded hover:bg-[#ffffff2e] outline-none shadow-none;
}

.rbc-toolbar button:active {
  background-color: #333 !important;
    color: #fff !important;
    border-color: #555 !important;
    /* Opcional: un pequeño escalado para el efecto “pop” */
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}

  .rbc-toolbar button:focus {
    outline: none;
    background-color: #00000000;
    color:#fff;
  }

/* Botón seleccionado */
.rbc-toolbar button.rbc-active {
  background-color: #444 !important;
  color: #fff !important;
  border-color: #666 !important;
  box-shadow: inset 2px 2px 10px 2px #191919 !important;
}


/*Month Styles*/

.rbc-month-view .rbc-day-bg {
  @apply border-[#212121dd];
}

/* Quitar borde del header (Lun, Mar, etc.) */
.rbc-month-view .rbc-header {
  @apply border-[#646464dd];
}

.rbc-month-view .rbc-month-row {
  @apply border-[#212121dd];
}

/* También de las filas internas */
.rbc-month-view .rbc-row {
  @apply border-[#212121dd];
}

/* Day Styles */

/* Encabezado general */
/* Con CSS puro para forzar !important */
.rbc-time-view .rbc-time-header {
  border-color: #2d2d2de7 !important;
}

.rbc-time-view .rbc-time-header-cell {
  border-color: #2d2d2de7 !important;
  background-color: #00000000 !important;
}

.rbc-time-view .rbc-time-column {
  border-color: #595959e7 !important;
  background-color: #00000000 !important;
}

.rbc-time-view .rbc-timeslot-group {
  border-color: #2d2d2de7 !important;
  background-color: #00000000 !important;
}

.rbc-time-view .rbc-time-content {
  border-color: #2f2f2fe7 !important;
}

.rbc-day-slot {
  border-right: 1px solid #2f2f2fe7 !important;
}

.rbc-time-slot {
  border-top: none !important;
}

.rbc-timeslot {
  background-color: #0a0a0a81 !important;
}

.rbc-time-view {
  font-family: kanit;
  border: none;
  border-radius: 1rem !important;
  background-color: #0a0a0a81 !important;
}

/*AGENDA*/
.rbc-agenda-table {
  background-color: #0a0a0a81 !important;
  border: 1px solid #2f2f2fe7 !important;
  color: #777777;  
}

.rbc-agenda-table tr {
  background-color: #0a0a0a81 !important;
  border: 1px solid #2f2f2fe7 !important;
  
}
.rbc-agenda-event-cell {
  border: 1px solid #2f2f2fe7 !important;

}
.rbc-agenda-date-cell {
  border: 1px solid #2f2f2fe7 !important;
}

@layer utilities {
  .font-kanit {
    font-family: 'Kanit', sans-serif;
  }

  .font-kanit-medium {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
  }

  .font-kanit-bold {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}